[submodule "libmariadb"]
    path = libmariadb
    url = https://github.com/joaquinbejar/mariadb-connector-c.git
    branch = v0.1.0

[submodule "libmariadb/external/zlib"]
    path = libmariadb/external/zlib
    url = https://github.com/joaquinbejar/zlib.git
    branch = v0.1.0