sudo: true
language: c
version: ~> 1.0

cache:
  apt: true
  ccache: true

env:
  global: local=0 DB=testcpp CLEAR_TEXT=0

import: mariadb-corporation/connector-test-machine:common-build.yml@master

jobs:
  allow_failures:
    - env: srv=build
    - os: osx
    - os: linux
      arch: s390x
      dist: focal
  include:
    - stage: Language
      os: osx
      compiler: clang
      before_script:
        - brew install openssl
        - brew install libiodbc
    - stage: Language
      os: linux
      arch: s390x
      dist: focal
      env: srv=mariadb v=10.11 local=1

script: ./travis.sh
